<div class="jumbotron text-center">
  <h1>
    MEAN APPLICATION TEST
  </h1>
  <p>Welcome to me first web application in MEAN, with Angular, Mongodb, Express, Nodejs</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget nisi non quam tincidunt vestibulum et ut ligula. Praesent dignissim ornare maximus. Integer iaculis at lacus ut consequat. Pellentesque lacus purus, euismod eget enim quis, finibus semper dolor. Sed augue dolor, facilisis dapibus mauris consequat, suscipit imperdiet nulla. Nam tempor ac odio sed pellentesque. Cras interdum justo ut quam maximus sagittis. Duis facilisis elementum mollis. Sed nec ligula aliquet, ornare risus ac, facilisis lorem.</p>
  </div>
  <div class="col-md-4">
    <h3>Angular-CLI</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget nisi non quam tincidunt vestibulum et ut ligula. Praesent dignissim ornare maximus. Integer iaculis at lacus ut consequat. Pellentesque lacus purus, euismod eget enim quis, finibus semper dolor. Sed augue dolor, facilisis dapibus mauris consequat, suscipit imperdiet nulla. Nam tempor ac odio sed pellentesque. Cras interdum justo ut quam maximus sagittis. Duis facilisis elementum mollis. Sed nec ligula aliquet, ornare risus ac, facilisis lorem.</p>
  </div>
  <div class="col-md-4">
    <h3>Jwt tokens</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget nisi non quam tincidunt vestibulum et ut ligula. Praesent dignissim ornare maximus. Integer iaculis at lacus ut consequat. Pellentesque lacus purus, euismod eget enim quis, finibus semper dolor. Sed augue dolor, facilisis dapibus mauris consequat, suscipit imperdiet nulla. Nam tempor ac odio sed pellentesque. Cras interdum justo ut quam maximus sagittis. Duis facilisis elementum mollis. Sed nec ligula aliquet, ornare risus ac, facilisis lorem.</p>
  </div>
</div>
